/* Compact layout */
.fi-fo-component-ctn,
.fi-ta-row,
.fi-section,
.fi-card {
    @apply gap-2;
}

.fi-ta-content-ctn{
     padding: 0px !important;
    margin: 0px !important;
}

.fi-ta-table,.fi-ta-cell {
    /* @apply py-1.5; */
    /* padding: 0px;
    margin: 0px; */
}

.fi-modal-window {
    @apply p-4;
}
